@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
h1{
    font-weight:900;
    background: linear-gradient( rgb(77, 36, 36) 0%, rgb(131, 74, 205) 35%, rgb(56, 156, 176) 100%);
    background-clip: text ;
    -webkit-background-clip: text ;
    -moz-background-clip: text ;
    color: transparent;
    font-size: 70px;
}
.fa-heart{
    margin-left: 95%;
}
.red{
    color: rgb(255, 18, 18);
}
h5{
    font-weight: lighter;
}
